.main-font {
  font-family: 'Yeseva One', cursive;
}

.text-font {
  font-family: 'Josefin Sans', sans-serif;
}

.sub-font {
  font-family: 'Archivo Black', sans-serif;
}

.number-font{
  font-family: 'Playfair Display', serif;
}

.cycle-count{
  background-color: #EFE7BC;
}

.bg-baby-blue{
  background-color: #E7F2F8
}

.bg-aquamarine{
  background-color: #74BDCB
}

.bg-salmon{
  background-color: #FFA384
}

.bg-freesia{
  background-color:#EFE7BC
}

.color-baby-blue{
  color: #E7F2F8
}

.color-aquamarine{
  color: #74BDCB
}

.gradient-salmon {
  background: linear-gradient(to left, #ff5e62 0%, #ff9966 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.color-salmon {
  color: #FFA384
}

.color-freesia{
  color:#EFE7BC
}

.border-freesia{
  border-color: #EFE7BC;
}

.border-aquamarine{
  border-color: #74BDCB;
}

a {
  text-decoration: none;
} 